* {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	text-decoration: none;
}

.navbar {
	background-color: rgb(8, 135, 167);
	height: auto;
	font-size: medium;
	position: fixed;
	width: 100%;
}

.menu {
	text-align: right;
	margin: 25px 25px 25px 0;
}

.menu li {
	display: inline-block;
	margin-left: 20px;
}

.menu a {
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

.menu a:hover {
	color: rgb(90, 209, 126);
}

.logo {
	margin: 15px 0 25px 25px;
    position: absolute;
    text-align: left;
}

.hero {
	height: auto;
	width: 100%;
	background-image: url(../../assets/img/Zig-Zag.svg);
	background-size: cover;
}

.hero-content {
	width: 50%;
	height: 70%;
	text-align: center;
	margin: auto;
	padding: 150px 0 60px 0;
}

.hero img {
	height: 150px;
	border-radius: 50%;
	border: solid 2px #1279ea;
}

.hero h1 {
	margin-top: 20px;
	text-transform: uppercase;
	font-size: large;
}

.hero p {
    margin-top: 20px;
	font-size: larger;
}

.carrossel {
	width: 100%;
	height: auto;
	background-color: #615e5e;
	text-align: center;
}

.ca-social {
	display: inline-block;
}

.ca-social i {
	color: white;
	margin: 10px;
}

.ca-social i:hover {
	color: rgb(90, 209, 126);
	margin: 10px;
}

.knowledge-content {
	background-color: rgb(240, 234, 234);
	height: auto;
	width: 100%;
	text-align: center;
}
.skills-title{
	text-align: center;
	padding: 40px 0 10px 0;
	text-transform: uppercase;
}
.skills-title h2{
	color: #1279ea;
	font-stretch: condensed;
}

.stack-card {
	display: inline-block;
	text-align: center;
	height: 350px;
	width: 400px;
	background-color: rgb(240, 234, 234);
	border-radius: 10%;
    margin: 50px auto;
    border: none;
}

.stack-card i {
	color: rgb(44, 68, 95);
	margin: 40px;
}

.stack-card h2 {
	color: #1279ea;
	text-transform: capitalize;
}

.stack-card p {
	color: rgb(44, 68, 95);
	margin: 10px 20px 20px 20px;
}

.stack-card:hover {
	display: inline-block;
	text-align: center;
	height: 350px;
	width: 400px;
	background-color: rgb(195, 217, 218);
	border-radius: 10%;
	margin: 50px auto;
	border: solid 2px rgb(165, 221, 223);
}

.stack-card:hover i {
	color: #1279ea;
	margin: 40px;
}

.stack-card:hover h2 {
	color: #1279ea;
	text-transform: uppercase;
}

.contact {
	background-color: rgb(74 97 81);
	height: 500px;
    width: 100%;
    display: none;
}
.footer {
	background-color: rgb(61, 68, 70);
	height: 50px;
	width: 100%;
}

.credits {
    text-align: center;
    padding-top: 15px;
}
.credits span{
    text-transform: capitalize;
    color: rgb(238, 13, 80);    
}