*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.navbar{
    background-color: rgb(8, 135, 167); 
    height: 70px ;
    font-size: medium;
}
.menu{
    padding: 25px 25px 0 25px; 
    text-align: right;
    position: relative;
}
.menu li{
    display: inline-block;
    padding-right: 10px;
}
 a{
    text-transform: capitalize;
    color: white;
    text-decoration: none;
}
.menu a:hover{
    color: rgb(90, 209, 126);
    text-transform: uppercase;
}
.logo{
    padding: 20px 0px 0px 20px;
    text-align: left;
    position: absolute;
}

.hero{background-color: red; height: 60px; }
.main-content{background-color: purple; height: 60px;}
.contact{background-color:grey; height: 60px;}
.footer{background-color: yellow; height: 60px;}