*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}

.navbar{
    background-color: rgb(8, 135, 167); 
    height: 70px ;
    font-size: medium;
    position: fixed;
    width: 100%;
}
.menu{
    text-align: right;
    padding: 25px 25px 0 0;
}
.menu li{
    display: inline-block;
    margin-right: 20px;
}
 .menu a{
    text-transform: capitalize;
    color: white;
    text-decoration: none;
}
.menu a:hover{
    color: rgb(90, 209, 126);
    text-transform: uppercase;
}
.logo{
    width: 200px;
    height: 100px;
    padding: 20px 0  0 25px;
    position: absolute;
}
.hero{
    height: 500px; 
    width: 100%;
    background-image: url(../../assets/img/adwaita-morning.jpg);
    background-size: cover;
}
.hero-content{
    width: 500px;
    height: 400px;
    text-align: center;
    margin: auto;
    padding: 120px 0 0 0;
}
.hero img{
    height: 150px;
    border-radius: 50%;
    border: solid 2px rgb(90, 209, 126);
}
.hero h1{
    padding-top: 20px;
    text-transform: uppercase;
    font-size: large;
}
.hero p{
    font-size: larger;
}
.carrossel{
    width: 100%;
    height: 100px;
    background-color: #615e5e; 
    text-align: center; 
}
.ca-social{
    display: inline-block;
}
.ca-social i{
    color: white;
    margin: 10px;
}
.ca-social i:hover{
    color: rgb(165, 221, 223);
    margin: 10px;
}
.main-content{
    background-color: rgb(240, 234, 234);
    height: 450px;
    width: 100%;
    text-align: center;
}
.stack-card{
    display: inline-block;
    text-align: center;
    height: 350px;
    width: 400px;
    background-color:rgb(240, 234, 234);
    border-radius: 10%;
    margin: 50px 60px;
}
.stack-card i{
    color: rgb(44, 68, 95);
    margin: 40px;
}
.stack-card h2{
    color: #1279ea;
    text-transform: capitalize;
}
.stack-card p{
    color: rgb(44, 68, 95);
    margin: 10px 20px 20px 20px;
}
.stack-card:hover{
    display: inline-block;
    text-align: center;
    height: 350px;
    width: 400px;
    background-color:rgb(195, 217, 218);
    border-radius: 10%;
    margin: 50px 60px;
    border: solid 10px rgb(165, 221, 223);
}
.stack-card:hover i{
    color: #1279ea;
    margin: 40px;
}
.stack-card:hover h2{
    color: #1279ea;
    text-transform: uppercase;
}
.contact{
    background-color:rgb(74 97 81); 
    height: 500px; 
    width: 100%;}
.footer{
    background-color: rgb(61, 68, 70); 
    height: 50px;
    width: 100%;
}
.thank-you{
    text-align: center;
    padding-top: 10px;
}