/*
Responsive CSS for main.css file
*/
@media screen and (max-width: 550px){
    .navbar{
        text-align: center;
    }
    .logo{
        display: none;
    }
    .menu{
        text-align: center;
        margin: 25px 0 25px 0;
    }
    .hero-content{
        width: 90%;
    }
    .stack-card{
        height: 80%;
        width: 250px;
    }
    .stack-card:hover{
        height: 80%;
        width: 250px;
    }
}